# Dependencias
node_modules/

# Entornos
.env
.env.local
.env.*.local

# macOS metadata
.DS_Store

# IDE metadata
.idea/
.vscode/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/
